@import "tailwindcss";

@theme {
  --font-lora: var(--font-lora);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-grotesk: var(--font-grotesk);
}

/* 1. Reset de scroll nativo (Garantiza que SIEMPRE funcione) */
html, body {
  overflow-y: auto !important;
  height: auto !important;
  min-height: 100vh;
}

/* 2. Ocultar barra de forma limpia */
@layer base {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}